<h1>Введите новую продукцию</h1>
<%= form_tag do %>
<%= text_area_tag(:message, "Введите название") %>
<%= search_field(:tovars, :name) %>
<%= number_field(:tovar, :number) %>
<%= number_field(:tovar, :price, in: 1.0..2000.0, step: 0.5) %>
    <%= submit_tag ("Добавить") %>
<% end %>